.Displayed-img {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  width: auto;
  margin: auto;
}

.show-image {
  flex-basis: 84%;
}



.show-image h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
}

.show-image-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}

.show-image-info img {
  width: 20px;
  margin: 8px;
}

.show-image-info span {
  background-color: #ececec;
  border-radius: 4rem;
  padding-inline: 10px;
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.show-image hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher div {
  flex: 1;
  line-height: 18px;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher div p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.publisher div span {
  font-size: 13px;
  color: #5a5a5a;
}

.publisher button {
  background: #410097;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4rem;
  cursor: pointer;
}

.description-container {
  background: #ececec;
  border-radius: 1rem;
  padding: 0.5rem;
}

.description-container p {
  margin-left: 10px;
  margin-right: 10px;
}

.img-description {
  margin: 15px 0;
}

.img-description p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}

.img-description h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 15px;
}
.comment,
.comment * {
  font-family: "Arial", sans-serif; /* Consistent font family */
  color: #5a5a5a; /* Uniform text color */
  font-size: 14px; /* Standard font size */
}
.comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  position: relative; /* To correctly position the action menu */
}

.comment-details {
  flex-grow: 1;
}

.comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

.comment h3 span {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}

.comment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}

.comment-action img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}

.comment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}

.comment-input {
  background-color: #f9f9f9; /* Ensuring background color is white */
  border: 2px solid transparent; /* Initially setting border to transparent */
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  width: 100%;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Smooth transitions */
}
.comment-edit-input {
  background-color: #f9f9f9; /* Ensuring background color is white */
  border: 2px solid transparent; /* Initially setting border to transparent */
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Smooth transitions */
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.comment-input:focus,
.comment-edit-input:focus {
  border: 2px solid transparent; /* Removes any border on focus */
  outline: none; /* Removes the outline */
  background-color: #f2f2f2; /* Light grey background when focused */
}

.button {
  background-color: #ffffff; /* White background for buttons */
  border-radius: 4rem;
  padding-inline: 10px;
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none; /* Ensuring no border for buttons */
  cursor: pointer;
}

.more-actions-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px; /* Adjust size as necessary */
  position: absolute;
  right: 10px; /* Adjusted to better position next to the content */
  top: 10px;
  border-radius: 50%; /* Makes the button round */
  transition: background-color 0.3s, transform 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-actions-button:active {
  transform: scale(0.85); /* Shrinks the button slightly when clicked */
  background-color: #e5e5e5e5; /* Light blue background on click */
}

.comment-actions {
  display: inline-block;
  align-items: center;
  left: 0; /* Aligns dropdown directly under the 'More' button */
  top: 100%; /* Position it right below the button */
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comment-actions button {
  background-color: transparent;
  color: #5a5a5a; /* Color similar to Bootstrap primary blue */
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.2s ease-in-out;
}

.comment-actions button:hover {
  border-radius: 6px;
  background-color: #e5e5e5; /* Light grey background on hover */
  border: none; /* Ensure border remains none even on hover */
}
